<%- include("./partials/_header") %>

<div class="container">
    <div style="align-self: stretch; color: black; font-size: 24px; font-family: Maison Neue; font-weight: 600; line-height: 33.24px; word-wrap: break-word">Your Cart</div>
<!-- start -->
<% data.forEach(element => { %>
<% console.log(element.Product.dataValues) %>
<div style="align-self: stretch; height: 266px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
    <div style="align-self: stretch; color: black; font-size: 24px; font-family: Maison Neue; font-weight: 600; line-height: 33.24px; word-wrap: break-word"></div>
    <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
        <img style="width: 70px; height: 100px" src="<%= element.Product.dataValues.imgUrl %>" />
        <div style="flex: 1 1 0; align-self: stretch; flex-direction: column; justify-content: space-between; align-items: flex-start; display: inline-flex">
            <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
                <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="align-self: stretch; color: black; font-size: 20px; font-family: Maison Neue; font-weight: 400; line-height: 16.80px; letter-spacing: 1.40px; word-wrap: break-word"><%= element.Product.dataValues.name %></div>
                    <div style="align-self: stretch; color: #737373; font-size: 16px; font-family: Maison Neue; font-weight: 400; line-height: 16px; letter-spacing: 0.20px; word-wrap: break-word"><%= element.Product.dataValues.color %></div>
                </div>
                <div style="width: 20px; height: 20px; position: relative">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                      </svg>
                </div>
            </div>
            <div style="align-self: stretch; justify-content: space-between; align-items: center; display: inline-flex">
                <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 2px; display: inline-flex">
                        <div style="color: #262626; font-size: 16px; font-family: Maison Neue; font-weight: 600; line-height: 16px; letter-spacing: 0.20px; word-wrap: break-word"><%= element.Product.formatAngka %></div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

</div>
<% }) %>
<!-- end -->
</div>

<%- include("./partials/_footer") %>