<%- include("./partials/_header") %>

<section style="background-color: #eee;">
    <div class="container py-5">
  
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3"><%= fullName %></h5>
              <div class="d-flex justify-content-center mb-2">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">First Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= data.firstName %></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">last name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= data.lastName %></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">email</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Address</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">address/p>
                </div>
              </div>
            </div>
          </div>

          <p>kalo dia mau checkout harus masuk kesini dulu</p>
          <p>buat if else kalo dia role admin tampilin button buat nambah product, kalo user ga usah ditampilin</p>
          <button>add product</button>
          <button>edit profile</button>
        </div>
      </div>
    </div>
  </section>

<%- include("./partials/_footer") %>